* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    width: 100%;
    min-height: 100vh;
    background-color: #0f0f0f;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}